body {
    background: #1a202c;
}

section {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    box-sizing: border-box;
}

section h1 {
    font-family: Poppins;
    color: #ef3b2d;
}


section .message-area textarea {
    position: relative;
    background: #2d3748;
    width: 100%;
    border-radius: 15px;
    border: #323b4a;
    resize: none;
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    padding: 20px;
    color: #fff;
    font-family: Poppins;
}